@font-face {
  font-family: colibriRegular;
  src: url(./fonts/ofont.ru_Calibri.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__wrapper {
  max-width: 1080px;
  margin: 0 auto;

}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 150px;
  padding: 10px 0 10px 0;
}

.header__nav, .header__auth {
  display: flex;
  align-items: center;
}

.header__auth-link {
  font-family: colibriRegular;
  font-size: 15px;
  text-decoration: none;
  color: white;
  background-color: #010b48;
  margin-right: 25px;
  padding: 5px;
  text-transform: uppercase;
  width: 100px;
  display: flex;
  justify-content: center;
}

.header__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.header__nav-items a {
  font-size: 17px;
  color: #010b48;
  text-decoration: none;
  margin-right: 30px;
  font-family: colibriRegular;
  line-height: 50px;
}

.header__nav-items a:hover {
  transition: all 1s;
  border-bottom: 1px solid #010b48;
}

.header__icon {
  display: none;
  margin-right: 7%; 
  width: 25px;
  height: 30px;
  align-items: center;
  justify-content: center;
  transition: .9s;
}

.header__icon span {
  display: block;
  position: relative;
  width: 25px;
  height: 2px;
  border-radius: 5px;
  background: black;
} 



.header__icon span::before,
.header__icon span::after {
  content: '';
  position: absolute;
  height: 2px;
  border-radius: 5px;
  background: black;
  margin-right: 3%;
  display: block;
  width: 25px;
  transition: .5s;
}

.header__icon span::before {
  top: -8px;
  position: absolute;
}

.header__icon span::after {
  bottom: -8px;
  position: absolute;
}

.header__icon.active span::before {
  top: 0;
  position: absolute;
  transform: rotate(-45deg);
}

.header__icon.active span::after {
  bottom: 0;
  transform: rotate(45deg);
  position: absolute;
}

.header__icon.active span {
  background: white;
}

@media (max-width: 800px) {
  .header__hamburger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 0;
    top: 0;
    background-color: white;
    width: 300px;
  }
  .header__nav {
    flex-direction: column;
    padding: 0;
    width: 100vw;
    height: 0;
    display: flex;
    position: absolute;
    right: 0;
    top: 57px;
    z-index: 999;
    background: #111820;
    color: white;
    overflow: hidden;
    transition: .7s;
  }

  .header__nav.active {
    display: flex;
    height: 100vh;
    padding: 10% 0;
  }
  .header__nav.close .header__nav-items a {
    color: transparent;
    transition: 0;
  }
  .header__auth-link {
    margin: 15px 0 0;
    background: transparent;
    border: 1px solid white;
  }
  .header__nav-items a {
    margin: 0;
    margin-right: 0;
    color: transparent;
    transition: .5s;
    transition-delay: .4s;
  }

  .header__nav.active .header__nav-items a {
    color: white;
  }
  .header__icon {
    display: flex;
  }
}